@import url(https://fonts.googleapis.com/css?family=Patua+One)
//@import custom/font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700)
@import compass/css3
@import compass/reset

$patua: 'Patua One', sans-serif
$open: 'Open Sans', sans-serif
$yellow: #f9c133

html
  box-sizing: border-box
.cf:before,
.cf:after
  content: " "
  display: table
.cf:after
  clear: both
.text-center
  text-align: center
@import custom/breakpoints
@import custom/general
@import custom/homepage
@import custom/inscription
@import custom/voirmestafs
@import custom/evaluation
@import custom/create-taf
@import custom/slider
@import custom/components
@import custom/styleguide
@import custom/modifs




//#testimonials
  .testimonial
    margin-left: 40px
