.btn-classic, .btn-pages
  background: $jaune
  border-radius: 0
  padding: 15px 45px
  font-family: 'Patua One', cursive
  color: $white
  display: inline-block
  font-size: 18px
  vertical-align: middle
  position: relative
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  transform: translateZ(0)
  border: none
  outline: 0
  -webkit-box-shadow: none
  box-shadow: none
  margin: 15px 0
  &:hover
    cursor: pointer
  &:hover, &:focus, &:active
    color: #FFF
    background: lighten($yellow, 6%)

.btn-single
  @extend .btn-classic
  &:hover
    transform: scale(1.1)
  @media ($sm-max)
    &:hover
      transform: none
.btn-status
  margin-bottom: 0
  width: 100%
.btn-pages
  padding: 10px 45px
  background: $vert
  font-size: 18px
  &:hover, &:focus, &:active
    background: darken($vert, 15)

.btn-mauve
  @extend .btn-classic
  background: $soft-mauve
  &:hover, &:focus, &:active
    background: darken($soft-mauve, 15)

.btn-vert
  @extend .btn-classic
  background: $vert
  &:hover, &:focus, &:active
    background: darken($vert, 15)
.btn-rouge
  @extend .btn-classic
  background: $rouge
  &:hover, &:focus, &:active
    background: darken($rouge, 15)
.btn-yellow
  @extend .btn-classic
  background: $yellow
  &:hover, &:focus, &:active
    background: lighten($yellow, 6%)
.btn-supprimer
  @extend .btn-classic
  background: #DDD
  &:hover, &:focus, &:active
    background: darken(#DDD, 15)
.nav-btns
  margin: 50px 0
  text-align: right
  @media ($sm-max)
    text-align: center
    .btn-pages
      display: block
      margin: 0 auto
      padding: 10px 0
      width: 200px
      margin-top: 5px

.nav-metiers
  padding: 0 5%
  @media ($sm-max)
    width: 100%
    padding: 0


.nav-map
  margin-top: -300px
  padding-right: 125px
  @media ($md-max)
    margin-top: 0
    padding-right: 0
    text-align: center
//.btn
  background: $jaune
  border-radius: 0px
  padding: 15px 45px
  font-family: 'Patua One', cursive
  color: $dark-mauve
  text-transform: uppercase
  display: inline-block
  font-size: 20px
  vertical-align: middle
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  position: relative
  -webkit-transition-property: color
  transition-property: color
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: -1px
    bottom: -1px
    left: -1px
    right: -1px
    background: $vert
    -webkit-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transform-origin: 50%
    transform-origin: 50%
    -webkit-transition-property: transform
    transition-property: transform
    -webkit-transition-duration: 0.3s
    transition-duration: 0.3s
    -webkit-transition-timing-function: ease-out
    transition-timing-function: ease-out
  &:hover, &:focus, &:active
    color: $white
  &:hover:before, &:focus:before, &:active:before
    -webkit-transform: scaleX(1)
    transform: scaleX(1)






//STARS----------------------------
.rating-stars
  display: inline-block
  float: right
  margin-right: 250px
  @media ($sm-max)
    float: none
    display: block
    margin: 15px 0
.rating-stars-hover
  .fa:hover
    color: $rouge
    cursor: pointer
  .fa
    &.active
      color: $rouge

.rating-infos
  margin-right: 0
  display: inline-block
  float: none
  .fa
    font-size: 28px
    @media ($sm-max)
      font-size: 24px
.table-metiers
  width: 80%
  margin: 0 auto
  @media ($sm-max)
    width: 100%
  td
    width: 50%
    font-weight: 400
    font-family: $open
  thead
    background: #d6d7d9
    th
      padding: 15px
      font-size: 20px
  tbody
    background: #f2f1f1
    padding: 10px 0
    td
      border-right: 1px solid #000
      a
        color: #000
        display: inline-block
        padding: 20px 15px
        &:hover
          color: $rouge
      &.metier
        padding: 20px 15px
        border: none




//-----------------------------
.dropdown-menu-select
  border-radius: 0
  width: 200px
  margin: 0
  background: #FFF
.dropdown-toggle-select
  width: 200px
  padding: 15px 0
  text-align: center
  margin-bottom: 0

.alert
  margin-top: 15px
  border-radius: 0px
.alert-danger
  background-color: lighten($rouge, 15)
  border: 1px solid $rouge
.alert-success
  border: 1px solid $vert



.modal-body
  input[type="checkbox"]
    display: none
input[type="checkbox"] + label span
  display: inline-block
  width: 22px
  height: 22px
  margin: -1px 4px 0 0
  vertical-align: middle
  background: transparent
  cursor: pointer
  border: 3px solid $soft-mauve
  margin-right: 30px
input[type="checkbox"]:checked + label span
  background: url('../img/icon/v-01.png') no-repeat  center -1px
  background-size: contain
  padding: 5px
.checkbox-label
  a
    color: $asterix


.triangle-slider
  width: 0
  height: 0
  border-style: solid
  border-width: 15px 10px 0 10px
  border-color: $soft-mauve transparent transparent transparent
  margin: -50px auto 0


.triangle-slider-perim
  width: 0
  height: 0
  border-style: solid
  border-width: 15px 10px 0 10px
  border-color: $soft-mauve transparent transparent transparent
  position: absolute
  top: 40px
  left: 30px


.slider-years
  width: 340px!important
  transform: translateY(-15px)!important
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(0%)


.taf p
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  line-height: 16px
  max-height: 75px
  min-height: 75px
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical


.verticalaligna
  top: 50%
  position: relative
  transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  h1
    @media ($sm-max)
      display: block
.md-max-hide
  @media ($md-max)
    display: none
.margin-top-m-15
  @media ($md-max)
    margin-top: 15px
