
.create-taf-header
  height: 450px!important
  font-size: 0
  .go-btn
    background: $jaune
    display: inline-block
    height: 60px
    width: 60px
    line-height: 60px
    font-family: $patua
    font-size: 20px
    font-weight: bold
    color: $white
    margin-right: 50px
    margin-top: 20px
    @media ($sm-max)
      margin-right: 0
  .find_job
    height: 60px
    display: inline-block
    border: none
    font-size: 16px
    width: 225px
    padding: 15px
    font-family: $open
    margin-top: 20px
    margin-left: 50px
    @media ($md-max)
      margin-left: 0
      width: 200px
  .col-go
    margin-top: 40px
    font-size: 0
.add-metier
  width: 100%!important
  text-align: left!important
.create-taf
  h1
    color: $soft-mauve!important
    margin-bottom: 50px
  @media ($md-max)
    //height: 450px!important
  .find-job
    font-size: 0
  .not-found
    display: inline-block
    float: left
    margin: 0
    width: 350px
    h4
      margin-bottom: 20px
  .container-cent
    display: inline-block
    margin: 0 auto
    position: relative

  .adresse-taf
    margin-right: 50%
    @media ($sm-max)
      margin-right: 0
  .date
    width: calc(100% - 50px)!important
  textarea
    width: 100%
    background: $inputbg
    border: none
    min-height: 200px
    padding: 15px
  .note
    margin-top: 50px


/* MAP ----------------------------------
#map
  position: absolute
  width: 100%
  height: 500px
.map-overlay
  position: absolute
  width: 100%
  height: 500px
  content: ""
  z-index: 9

/* PERIMETRE ----------------------------------
.perimetre_form
  padding-bottom: 150px
  .perimetre_container
    background: $white
    border: 1px solid $soft-mauve
    padding-top: 75px
    margin-top: 150px
    z-index: 99
    @media ($sm-max)
      margin-top: 250px
    .y
      p
        line-height: 40px
    p
      font-size: 18px
      font-family: $open
      font-weight: bold
      line-height: 24px
    h3
      background: $soft-mauve
      color: $white
      position: absolute
      width: 100%
      left: 0
      top: 0
      height: 50px
      line-height: 50px
      text-align: center
    .icon-less, .icon-more
      background: $yellow
      display: inline-block
      color: $white
      padding: 4px 5px 3px
    .icon-more
      float: right
    .icon-less
      float: left
    .regions
      z-index: 99
      padding-bottom: 20px
      ul
        li
          height: 40px
      span
        margin-right: 10px
        border: 2px solid $soft-mauve
      p
        margin: 20px 0
        font-weight: bold
        clear: both
      label
        font-family: $open
        &:hover
          cursor: pointer
  .number
    top: 350px
    @media ($md-max)
      top: 75px
  .number_independants
    background: $soft-mauve
    display: block
    width: 250px
    height: 250px
    margin: 0 auto
    font-family: $patua
    color: $white
    text-align: center
    padding: 40px
    .num
      color: $yellow
      font-size: 100px
      display: block
      margin-top: 10px
      margin-bottom: 10px


/* VALIDATION: ----------------------------------

.create_validation
  padding: 150px 15px
  .col-sm-4
    @media ($sm-max)
      text-align: center
  .description
    @media ($sm-max)
      text-align: center
    p
      @media ($sm-max)
        text-align: left
  h2
    color: #D9DADC
    //margin-bottom: 30px
  .float_none
    float: none
  h3
    color: $yellow
    margin-bottom: 20px
    font-size: 22px
  i
    font-size: 50px
    margin-bottom: 20px
    margin-top: 80px
  p
    font-family: $open
    font-size: 16px
    display: inline-block
  .description
    margin-top: 0px
    h3
      margin-bottom: 20px

.confirmation_green
  text-transform: uppercase
  margin-bottom: 50px
  margin-top: 50px
  strong
    font-weight: bold
  span
    font-weight: normal
    display: block
    font-weight: 300


.perimetre-range
  text-align: center
  input
    background: transparent!important
    margin-top: 100px!important
    width: 400px
  .y
    top: 140px!important
    left: 50px!important
  .fa-plus
    margin-right: 40px
.perimetre_slide
  width: 80%!important
