.evaluation
  padding: 75px 0
  .infos
    .col-sm-4
      &::after
        content: ""
        display: block
        position: absolute
        right: 75px
        height: 75px
        width: 1px
        top: 0
        background: #000
        @media ($md-max)
          display: none
      &:last-child
        &::after
          display: none
    .society
      color: $vert
      font-family: "Patua One", serif
      font-size: 46px
    .prestataire
      color: $jaune
      font-size: 30px
      font-family: "Patua One", serif
    .city
      font-size: 30px
      margin-top: 20px
      color: $soft-mauve
      i
        color: $asterix
        font-size: 40px
      span
        margin-left: 15px
        display: inline-block
    .job
      font-size: 30px
      margin-top: 25px
      font-family: 'Patua One', serif
      color: $soft-mauve
  .stars
    margin: 50px -15px
    h4
      font-size: 32px
      margin-bottom: 50px
    ul
      .pro
        &::after
          margin-top: 30px
      li
        font-size: 26px
        margin: 30px 0
        &::after
          content: ""
          background: $soft-mauve
          display: block
          width: 100%
          height: 1px
          margin-top: 15px
          @media ($sm-max)
            display: none
        &:last-child
          &::after
            display: none
        .hint
          display: block
          position: absolute
          font-size: 18px
          @media ($sm-max)
            position: relative

  .conclusion
    h3
      color: $vert
      margin-bottom: 50px
      font-size: 30px
    h4
      font-size: 30px
      display: inline-block
    .radio
      display: inline-block
      float: right
      @media ($sm-max)
        float: none
        margin: 30px 0
      label
        padding-right: 30px
        font-size: 20px
    input[type="radio"]
      display: none
    input[type="radio"] + label span
      display: inline-block
      width: 20px
      height: 20px
      margin: -1px 4px 0 0
      vertical-align: middle
      background: transparent
      cursor: pointer
      border: 3px solid $soft-mauve
      margin-right: 50px
      border-radius: 20px
    input[type="radio"]:checked + label span
      background: $jaune
      padding: 5px
    input[type=radio]
      position: relative
      margin-left: 20px
      margin-right: 20px
    .commentaires
      margin-top: 50px
      label
        display: block
        font-size: 30px
      textarea
        width: 100%
        background: #f5f4f4
        border: none
        padding: 15px
        margin: 50px 0
        min-height: 200px
        outline: none
    .btn-next
      float: right
.infos
  @media ($sm-max)
    text-align: center
