@font-face {
    font-family: 'patua_oneregular';
    src: url('patuaone-regular-webfont.eot');
    src: url('patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('patuaone-regular-webfont.woff2') format('woff2'),
         url('patuaone-regular-webfont.woff') format('woff'),
         url('patuaone-regular-webfont.ttf') format('truetype'),
         url('patuaone-regular-webfont.svg#patua_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
