html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit


$soft-mauve: #3e364a
$dark-mauve: #25202d
$rouge: #e36371
$jaune: #f5bd33
$vert: #14aba0
$white: #FFF
$grey: #DDD
label
  &:hover
    cursor: pointer!important
.floatleft
  float: left
  @media ($sm-max)
    float: none
.floatright
  float: right
  @media ($sm-max)
    float: none
.header-btn
  margin-right: 20px
.header-p
  margin-bottom: 40px
.header-prix
  display: inline-block
  padding-top: 20px!important
  padding-left: 15px
  transform: translateY(10px)
  @media ($sm-max)
    text-align: center!important
    transform: translateY(0)
.header-gratuit
  display: inline-block
  padding-top: 20px!important
  margin-left: 15px
  @media ($sm-max)
    text-align: center!important



//--------------------------

.green
  color: $vert!important
.title-mauve
  h1
    color: $soft-mauve
    text-align: center
.validated
  background: $vert!important
.light_header
  background: $white
.bold
  font-weight: bold
.patua
  font-family: $patua
.inline-block
  display: inline-block!important

.metier-icon
  display: inline-block!important
  position: absolute
  left: 0
.metier-title
  display: inline-block!important
  padding-left: 125px
// BANNER: LINK -------------------
.banner_link
  display: block
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 10

//TITRES  ----------------
.small_header
  padding: 80px 0 0
  height: 400px
  @media ($md-max)
    height: 250px!important
    //padding-top: 0!important
  .vertical_align
    top: 50%
    position: relative
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
  h1
    display: block!important
    text-align: center
    color: $white
    font-size: 70px
    line-height: 70px
    @media ($sm-max)
      font-size: 40px!important
      line-height: 40px!important
      span
        font-size: 20px

.light_header
  h1
    color: $soft-mauve
    text-align: center
    font-size: 70px
    line-height: 70px
    span
      font-size: 28px
      text-align: center
      color: $soft-mauve
      line-height: 28px
      display: block



.yellow
  color: $yellow!important
.asterix
  color: $rouge!important
body
  font-family: 'Open sans', sans-serif
  font-weight: 400
  color: #000
  width: 100%
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  outline: 0
  text-decoration: none
  -webkit-transition: all 0.2s
  transition: all 0.2s
  &:hover, &:focus
    outline: 0
    text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: 'Patua One', Arial, sans-serif!important
  line-height: 160%
  font-weight: 200
  color: $dark-mauve

h1
  font-size: 48px

h2
  font-size: 42px

h3
  font-size: 24px

h4
  font-size: 18px

h5
  font-size: 16px

h6
  font-size: 14px

.lead
  font-size: 15px
  color: $jaune
  text-transform: uppercase

/* Supview.be Hack */

.row-centered
  text-align: center

.col-centered
  display: inline-block
  float: none
  /* reset the text-align */
  text-align: center
  /* inline-block space fix */
  margin-right: -4px

.nopadding
  padding: 0
.nopaddingleft
  padding-left: 0

/* Tiles Grid by Supview.be */

.tiles
  display: block
  overflow: hidden
  > li
    display: block
    height: auto
    float: left
    padding-bottom: 0
  &.two_up
    margin-left: -4%
    > li
      margin-left: 4%
      width: 46%
  &.three_up, &.four_up
    margin-left: -2%
  &.three_up > li
    margin-left: 2%
    width: 31.3%
  &.four_up > li
    margin-left: 2%
    width: 23%
  &.five_up
    margin-left: -1.5%
    > li
      margin-left: 1.5%
      width: 18.5%

.verticalalign
  top: 50%
  position: relative
  -moz-transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)


#principal
  background: rgba(37, 32, 45, 0.70)
  position: fixed
  z-index: 999
  left: 0
  top: 60px
  right: 0
  width: 100%
  height: 80px
  padding: 0px 20px
  &.navbar_top
    top: 0px!important
  .logo
    position: absolute
    max-height: 55px
    top: 10px
    bottom: 0
    margin: auto
    left: 20px
    max-width: 180px
    z-index: 999999
    height: 55px
    img
      width: 100%
  .principal_nav
    width: auto
    right: 25px
    text-align: center
    padding: 0
    position: absolute
    top: 0
    bottom: 0
    height: 20px
    margin: auto
    z-index: 999999
    -webkit-padding-start: 0px
    -moz-padding-start: 0px
    padding-start: 0
    li
      display: inline-block
      padding: 0px 20px
      text-align: right
      -webkit-transition: all 0.2s
      -moz-transition: all 0.2s
      transition: all 0.2s
      border-right: 2px solid $dark-mauve
      a
        font-family: "Source Sans Pro", sans-serif
        color: $white
        font-size: 14px
        text-transform: uppercase
        outline: none
        font-weight: 400
        letter-spacing: 1px
        display: inline-block
        &:hover, &:focus, &.active
          color: $jaune
      &:last-child
        padding-right: 0px
        border-right: none
      .dropdown-menu
        min-width: auto
        margin-top: 34px
        background: #FFF
        border-radius: 0px
        padding: 0
        li
          -webkit-appearance: none
          -moz-appearance: none
          appearance: none
          background: none
          border: none
          font-family: "Source Sans Pro", sans-serif
          color: $white
          font-size: 14px
          text-transform: uppercase
          outline: none
          font-weight: 400
          letter-spacing: 1px
          display: inline-block
          padding: 2px 0
          width: 100%
          text-align: center
          border-bottom: 1px solid #EEE
          a
            color: #333
            &:hover
              color: $vert
              background: none
          &:hover
            background: #EEE

    .caret
      margin-left: 5px !important

.navToggle
  position: fixed
  width: 50px
  height: 50px
  right: 15px
  margin: 0 auto
  display: none
  top: 15px
  cursor: pointer
  z-index: 9999999

  .icon
    -webkit-transition: all 0.25s
    -moz-transition: all 0.25s
    transition: all 0.25s
    position: absolute
    top: 24px
    left: 0
    right: 0
    margin: 0 auto
    width: 22px
    height: 2px
    background-color: #FFF
    &:before, &:after
      -webkit-transition: all 0.25s
      -moz-transition: all 0.25s
      transition: all 0.25s
      position: absolute
      width: 22px
      height: 2px
      background-color: #FFF
      content: ''
    &:before
      top: -8px
      left: 0
    &:after
      top: 8px
      left: 0
  &:hover .icon
    background-color: #FFF
    &:before
      top: -10px
      background-color: #FFF
    &:after
      top: 10px
      background-color: #FFF
  &.open .icon
    -webkit-transition: all 0.4s
    -moz-transition: all 0.4s
    transition: all 0.4s
    background-color: transparent
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    transform: rotate(180deg)
    &:before
      top: 0
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      transform: rotate(45deg)
      background: #FFF
    &:after
      top: 0
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      transform: rotate(-45deg)
      background: #FFF


.seconnecter
  background: #f2f1f1
  border-radius: 0px
  border: none
  padding: 5px 20px
  .modal-title
    color: $rouge
  .btn
    font-size: 16px
    background: $vert
    color: $white
    border: 1px solid $vert
    text-transform: none
    &::before
      background: $rouge
  .modal-body
    padding: 10px 15px 25px 15px
  .close
    margin-top: 8px
  input
    width: 100%
    height: auto
    background: #FFF
    border: none
    padding: 12px 20px 10px 20px
    font-size: 14px
    color: #333
    margin: 5px 0
  label
    font-size: 13px
    font-weight: 600
    font-family: 'Source Sans Pro', sans-serif
    margin-top: 15px
    margin-bottom: 5px
  .forgetpw
    font-size: 13px
    font-weight: 600
    font-family: 'Source Sans Pro', sans-serif
    margin-top: 15px
    color: $vert
    display: block
    padding: 0


.forgetpw
  background: #f2f1f1
  border-radius: 0px
  border: none
  padding: 0px 0px
  .modal-title
    color: $rouge
  .btn
    font-size: 16px
    background: $vert
    color: $white
    border: 1px solid $vert
    text-transform: none
    margin-top: 20px
    text-align: right
    &::before
      background: $rouge
  .modal-header
    padding: 25px 35px 20px 35px
  .modal-body
    padding: 10px 35px 20px 35px
  .close
    margin-top: 8px
  .modal-footer
    background: $dark-mauve
    padding: 25px 0
    p
      font-size: 13px
      color: $white
      font-weight: 400
      text-align: center
  input
    width: 100%
    height: auto
    background: #FFF
    border: none
    padding: 12px 20px 10px 20px
    font-size: 14px
    color: #333
    margin: 5px 0
  label
    font-size: 13px
    font-weight: 600
    font-family: 'Source Sans Pro', sans-serif
    margin-top: 15px
    margin-bottom: 5px



.profile-wrapper
  width: 250px
  position: relative
  float: right
  right: 10px
  top: 0
  height: auto
  padding-top: 18px
  &::after
    content: ''
    position: absolute
    top: 38px
    right: 0px
    border-color: $rouge transparent transparent
    border-width: 6px
    border-style: solid
  &:hover::after
    border-color: $rouge transparent transparent

.profile
  padding-top: 10px
  &:hover
    cursor: pointer
  .name
    font-size: 12px
    color: #fff
    line-height: 26px
    margin-left: 10px
    text-transform: none
    letter-spacing: 0px
    font-weight: 800
  &:hover .name
    color: $jaune
  img
    width: 25px
    display: inline
    float: left
    border: 1px solid $soft-mauve
    border-radius: 3px
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset

/* hide menu

.menu
  display: none
  clear: both
  width: 100%
  margin: 26px 0 0 0
  background: $white
  padding: 15px 0x
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14)
  li
    font-size: 14px
    padding: 15px 15px
    width: 100%
    color: $dark-mauve
    border-bottom: 1px solid #DDD
    a
      color: $dark-mauve
    &:hover a
      color: $vert

/* hover profile show menu

.profile:hover .menu
  display: block


footer
  background: $soft-mauve
  padding: 80px 0 60px 0
  position: relative
  border-top: 10px solid $rouge
  .row
    position: relative
  h3, h4
    color: white
  .height100
    height: 250px
  .lang_dropdown_form
    select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      background: $dark-mauve
      padding: 15px 50px
      width: 100%
      border-radius: 0
      border: none
      font-family: 'Patua One', cursive
      color: $white
      outline: 0
      font-size: 18px
      -webkit-transition: all 0.2s
      transition: all 0.2s
      cursor: pointer
      &:hover
        background: darken($dark-mauve, 5)
    &::after
      content: '\f0d7'
      font-family: FontAwesome
      position: absolute
      color: $rouge
      left: 20px
      top: 0
      bottom: 0
      margin: auto
      font-size: 21px
      width: auto
      height: 20px
  .contactus
    text-align: left
    h3
      margin-bottom: 20px
    .secondone
      margin-top: 20px
    p
      color: $white
      line-height: 160%
    a
      color: $white
      line-height: 160%
      &:hover
        color: $jaune
        &::before
          color: $white
    ul
      li
        a
          &::before
            content: '-'
            margin-right: 10px
            -webkit-transition: all 0.2s
            transition: all 0.2s
            color: $white
          &:hover
            &::before
              color: $white
              margin-right: 15px

  .joinus
    margin-top: 60px
    padding: 40px 0 50px 0
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    ul
      margin-top: 30px
      li
        display: inline-block
        margin: 0px 5px
        display: inline-block
        border-radius: 50%
        display: inline-block
        vertical-align: middle
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
        box-shadow: 0 0 1px rgba(0, 0, 0, 0)
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        -moz-osx-font-smoothing: grayscale
        position: relative
        background: $dark-mauve
        -webkit-transition-property: all
        transition-property: all
        -webkit-transition-duration: 0.3s
        transition-duration: 0.3s
        &.twitter
          &:hover
            background: #4099FF
        &.facebook
          &:hover
            background: #3B5998
        &.linkedin
          &:hover
            background: #007BB6
        &.google-plus
          &:hover
            background: #DD4B39
        a
          padding: 17px 20px
          color: white
      //li
        display: inline-block
        margin: 0px 5px
        display: inline-block
        border-radius: 50%
        display: inline-block
        vertical-align: middle
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
        box-shadow: 0 0 1px rgba(0, 0, 0, 0)
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        -moz-osx-font-smoothing: grayscale
        position: relative
        background: $dark-mauve
        -webkit-transition-property: color
        transition-property: color
        -webkit-transition-duration: 0.3s
        transition-duration: 0.3s
        &:before
          content: ""
          position: absolute
          z-index: -1
          top: -1px
          bottom: -1px
          left: -1px
          right: -1px
          background: $rouge
          border-radius: 50%
          -webkit-transform: scaleY(0)
          transform: scaleY(0)
          -webkit-transform-origin: 50%
          transform-origin: 50%
          -webkit-transition-property: transform
          transition-property: transform
          -webkit-transition-duration: 0.3s
          transition-duration: 0.3s
          -webkit-transition-timing-function: ease-out
          transition-timing-function: ease-out
        &:hover, &:focus, &:active
          color: #333
        &:hover:before, &:focus:before, &:active:before
          -webkit-transform: scaleY(1)
          transform: scaleY(1)
        a
          padding: 17px 20px
          color: white
  .footer-second
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 20px 0
    background: $dark-mauve
    p
      color: white
      font-weight: 200
      font-size: 14px
      a
        color: rgba(255, 255, 255, 0.5)
        &:hover
          color: white
    .footer-logo
      position: absolute
      right: 0
      top: -9px
      bottom: 0
      margin: auto
      padding: 0
      height: auto
      max-width: 135px
      img
        width: 100%


.whole-container
  position: relative

#first_panel
  background: $white
  padding: 60px 0
  height: 700px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 999
  h2
    color: $soft-mauve
    font-size: 52px
    b
      color: $rouge
  ul
    margin-top: 60px
    li
      padding: 0px 5px
      img
        margin-bottom: 20px
        -webkit-transition: all 0.2s
        transition: all 0.2s
        max-width: 135px
        -moz-transform: scale(0.9)
        -webkit-transform: scale(0.9)
        transform: scale(0.9)
      h4
        font-size: 18px
        color: $soft-mauve
        margin-bottom: 20px
      p
        color: $vert
        line-height: 160%
        font-size: 14px
      &:hover
        img
          -moz-transform: scale(1)
          -webkit-transform: scale(1)
          transform: scale(1)
  .bandeau
    background: $vert
    padding: 23px 0
    width: 100%
    position: absolute
    bottom: 0px
    left: 0
    right: 0
    text-align: center
    margin: auto
    p
      color: $white
      text-align: center
      font-size: 14px
    .btn-bord
      border: 2px solid $jaune
      background: none
      color: $white
      font-size: 16px
      text-transform: none
      padding: 5px 25px 6px 25px
      border-radius: 10px
      margin-left: 20px
      font-family: 'Patua One', Arial
      cursor: pointer
      &:hover
        background: $jaune
    .close-btn
      position: absolute
      right: 25px
      color: $rouge
      top: 18px
      font-size: 24px
      cursor: pointer
      opacity: 0
      &:hover
        transform: rotate(180deg)

.cookie-bar
  background: $vert!important
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 80%
  max-width: 1200px
  height: auto
  z-index: 99
  margin: auto
  padding-left: 10px
  padding-right: 20px
  transition: all .3s
  @media (max-width: 1170px)
    width: 100%
  &.cookies-hide
    opacity: 0
    pointer-events: none
  p
    font-family: 'Patua One', Arial
    color: $white
    padding: 25px 0
    @media ($md-max)
      padding: 25px 0 0
    a
      color: $jaune
      &:hover
        color: $white
  .btn-col
    //padding: 15px 0
    text-align: right
    .btn
      display: inline-block
      font-size: 13px
      color: $white
      padding: 10px 35px
      &::before
        background: $rouge



header
  background: $soft-mauve
  width: 100%
  height: 100vh
  position: relative
  border-bottom: 10px solid $rouge
  .info
    color: $white
    position: absolute
    right: 25px
    bottom: 25px
    font-weight: 400
    font-size: 14px
  .bg
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0.2
    overflow: hidden
    img
      width: auto
      height: auto
      min-width: 100%
      min-height: 100%
  h1
    color: $white
    font-size: 48px
    text-align: left
  .compteur
    text-align: left
    margin-top: 10px
    span
      color: $jaune
      padding: 0px 25px
      font-size: 18px
      border-left: 1px solid $jaune
      &:first-child
        padding-left: 0px
        border-left: none
  .choix
    text-align: left
    margin-top: 80px
    h2
      font-size: 32px
      color: $white
      margin-bottom: 10px
    p
      text-transform: uppercase
      line-height: 160%
      font-size: 14px
      color: $white
    .btn
      margin-top: 50px
      font-size: 16px
      float: left
    .prix
      color: $vert
      //float: left
      clear: right
      padding-top: 55px
      //padding-left: 20px
      font-size: 14px
      line-height: 140%
    &:last-child
      &::before
        height: 100%
        width: 2px
        background: $white
        content: ""
        position: absolute
        left: -10%
      .prix
        padding-top: 65px

  &.small_header
    //height: 450px
    margin-top: 0px
    //padding-top: 120px
    border-bottom: 5px solid $vert

  &.error_header
    height: 100vh
    margin-top: 0px
    padding-top: 120px
    border-bottom: none
    h3
      color: $jaune
      margin-top: 30px
    img
      max-width: 100%

#latest_taf
  padding: 100px 0
  background: $white
  position: relative
  .btn
    margin: auto
    margin-top: 25px
    text-align: center
    float: none
    text-transform: none
  ul
    margin: 40px 0
    overflow: hidden
  .taf
    background: #F4F4F4
    padding: 15px 15px 130px 15px
    margin: 4%
    max-width:  100%
    position: relative
    cursor: pointer
    z-index: 9
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    transition: all 0.2s
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3)
    -webkit-transform: scale(0.95)
    transform: scale(0.95)
    &:hover
      -webkit-transform: scale(1)
      transform: scale(1)
    img
      width: 100%
      margin-bottom: 20px
      border-bottom: 5px solid $jaune
    .title
      color: $dark-mauve
      font-size: 21px
      display: block
      margin-bottom: 12px
      font-family: 'Patua One', cursive
      text-align: left
      height: 50px
    p
      text-align: left
      line-height: 140%
      color: $soft-mauve
      font-size: 14px
      max-width: 85%
    .budget
      position: absolute
      right: 25px
      top: 0px
      background: $vert
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)
      padding: 10px
      color: $white
      z-index: 999
      font-weight: 600
      font-size: 16px
      line-height: 140%
      font-family: 'Patua One', cursive
      width: 85px
      &::before
        content: ""
        position: absolute
        left: 0px
        top: 99%
        z-index: -1
        border-left: 12px solid $vert
        border-right: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
      &::after
        content: ""
        position: absolute
        right: 0px
        top: 99%
        z-index: -1
        border-right: 12px solid $vert
        border-left: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
    .expire
      background: $vert
      position: absolute
      left: 0
      right: 0
      bottom: 0
      width: 100%
      font-family: 'Patua One', cursive
      color: $white
      text-align: right
      padding: 5px 10px
      font-size: 13px
    .info-taf
      background: $soft-mauve
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: auto
      color: $white
      font-size: 13px
      font-weight: 600
      line-height: 130%
      padding: 0px 0 25px 0
      .col-md-12
        text-align: left
        position: relative
        padding: 12px 0px 12px 45px
        i
          position: absolute
          left: 10px
          color: $vert
          font-size: 22px
          width: 25px
          top: 10px
          text-align: center
        &:nth-child(2)
          border-top: 1px solid rgba(#ffffff, 0.1)

  .middle-time
    .expire
      background: $jaune

  .end-time
    .expire
      background: $rouge

  .swipe-taf
    overflow: hidden

  .owl-theme .owl-controls .owl-buttons
    div
      position: absolute
      i
        color: $soft-mauve
        font-size: 38px
        -webkit-transition: all 0.2s
        transition: all 0.2s
        &:hover
          color: $rouge
    .owl-prev
      left: -45px
      top: 50%
    .owl-next
      right: -45px
      top: 50%


#whyuse
  padding: 120px 0
  background: #f8f7f7
  position: relative
  ul
    margin-top: 60px
    li
      img
        margin-bottom: 20px
        -webkit-transition: all 0.2s
        transition: all 0.2s
        max-width: 135px
        -moz-transform: scale(0.9)
        -webkit-transform: scale(0.9)
        transform: scale(0.9)

      h4
        font-size: 21px
        margin-bottom: 20px
      p
        color: $vert
        line-height: 160%
      &:hover
        img
          -moz-transform: scale(1)
          -webkit-transform: scale(1)
          transform: scale(1)


#domains
  padding: 120px 0
  background: $white
  position: relative
  .grille-domaines
    margin: 40px 0
    .domaine
      &.full
        width: 100%!important
        @media ($md-max)
          width: 100%!important
      &.semi
        width: 48%!important
        @media ($md-max)
          width: 48%!important
    .domaine
      height: 40vh
      text-align: center
      h3
        font-size: 24px
        background: rgba(255, 255, 255, 0.7)
        padding: 10px 60px
        display: inline-block
        margin: 0 auto
      .bg
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 1
        overflow: hidden
        border: 10px solid #FFF
        background: $dark-mauve
        img
          min-width: 100%
          width: auto
          min-height: 100%
          height: auto
          left: 0
          right: 0
          top: 0
          bottom: 0
          margin: auto
          position: absolute
          -webkit-transition: all 0.2s
          transition: all 0.2s
      &:hover
        .bg
          img
            -webkit-transform: scale(1.1)
            -moz-transform: scale(1.1)
            transform: scale(1.1)
            opacity: 0.4


#testimonials
  padding: 120px 0
  background: $soft-mauve
  position: relative
  h2
    color: $white
  .testimonial
    margin-top: 80px
    //margin-left: 40px
    blockquote
      color: $jaune
      font-size: 18px
      line-height: 130%
      padding-right: 40px
      position: relative
      &::before
        content: '"'
        position: absolute
        top: -10px
        left: -45px
        font-size: 62px
        color: rgba(255, 255, 255, 0.2)
        font-family: 'Patua One', cursive
      &::after
        content: '"'
        position: absolute
        bottom: -30px
        right: 20px
        font-size: 62px
        color: rgba(255, 255, 255, 0.2)
        font-family: 'Patua One', cursive
    .name
      font-family: 'Patua One', cursive
      color: $white
      margin-top: 50px
      display: block
      font-size: 24px
    .job
      font-family: 'Source Sans Pro', sans-serif
      color: $vert
      font-size: 14px
      margin-top: 5px
    &:first-child
      margin-right: 2%
    &:nth-child(2)
      padding-left: 2%
  .owl-theme .owl-controls .owl-buttons
    div
      position: absolute
      i
        color: $white
        font-size: 38px
        -webkit-transition: all 0.2s
        transition: all 0.2s
        &:hover
          color: $rouge
    .owl-prev
      left: 45px
      top: 50%
    .owl-next
      right: 45px
      top: 50%



#theyuse
  padding: 120px 0
  background: $white
  position: relative
  ul
    margin-top: 60px
    li
      margin-bottom: 1.4%
      img
        width: 100%


// CGU.PHP


.all_cgu
  padding: 40px 15px 100px 15px
  @media ($sm-max)
    padding: 40px 30px 100px 30px
  h3
    text-align: center
    padding: 60px 0
  p
    line-height: 160%
    margin: 15px 0
  .btn
    margin-top: 60px
  strong
    font-weight: 600
  ul
    margin-left: 25px
    li
      margin-left: 25px
      line-height: 160%
      margin: 15px 0
      display: block
      position: relative
      &::before
        width: 5px
        height: 5px
        content: ''
        top: 0
        bottom: 0
        margin: auto
        border-radius: 50%
        background: $dark-mauve
        display: block
        position: absolute
        left: -25px



#metiers_domains
  padding: 60px 0
  background: $white
  position: relative
  .grille-domaines
    margin: 40px 0
    .domaine
      height: 250px
      text-align: center
      overflow: hidden
      position: relative
      margin-bottom: 2%
      @media ($md-max)
        width: 48%!important
      @media ($sm-max)
        width: 96%!important
        margin-left: 2%

      h3
        font-size: 24px
        background: rgba(255, 255, 255, 0.7)
        padding: 10px 30px
        display: inline-block
        margin: 0 auto
      .bg
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 1
        overflow: hidden
        background: $dark-mauve
        img
          min-width: 100%
          width: auto
          min-height: 100%
          height: auto
          left: 0
          right: 0
          top: 0
          bottom: 0
          margin: auto
          position: absolute
          -webkit-transition: all 0.2s
          transition: all 0.2s
      &:hover
        .bg
          img
            margin: auto
            opacity: 0.4

  .info-text
    padding: 15px 25px 25px 25px
    h2
      font-size: 28px
      color: $rouge
      line-height: 120%

  .slice
    display: block
    width: 100%
    clear: both
    padding: 0px 10px
    .sub_metiers
      h3
        color: $vert
        padding: 25px 0 15px 0
      ul
        padding-left: 40px
        li
          padding: 5px 0
          list-style-image: url('../img/list-style.png')
          a
            color: $dark-mauve
            &:hover
              color: $vert

.message
  padding: 120px 15px
  h2
    font-size: 72px
    color: $dark-mauve
    padding-bottom: 30px
  p
    font-size: 21px
    color: $dark-mauve
    line-height: 120%
    position: relative
  .message
    padding: 40px 0
    color: $vert
    font-weight: 700
    span
      font-weight: 200
  .separator
    border-top: 2px solid $dark-mauve
    margin: 60px 0
    display: block

  .simplelink
    color: $vert
    font-family: 'Patua One', cursive
    &:hover
      color: $jaune



.connectez-vous
  padding: 120px 15px
  h2
    font-size: 72px
    color: $dark-mauve
    padding-bottom: 30px
  p
    font-size: 21px
    color: $dark-mauve
    line-height: 120%
    position: relative
  .separator
    border-top: 2px solid $dark-mauve
    margin: 40px 0 30px 0
    display: block
  .simplelink
    color: $vert
    font-family: 'Patua One', cursive
    &:hover
      color: $jaune
  input
    width: 100%
    height: auto
    background: #f2f1f1
    border: none
    padding: 14px 20px 12px 20px
    font-size: 14px
    color: #333
    margin: 5px 0
  label
    font-size: 16px
    font-weight: 600
    font-family: 'Source Sans Pro', sans-serif
    margin-top: 15px
    margin-bottom: 5px
  .forgetpwa
    font-size: 16px
    font-weight: 600
    font-family: 'Source Sans Pro', sans-serif
    margin-top: 15px
    color: $vert
    display: block
    &:hover
      color: $jaune
  button
    margin-top: 30px
    border: none


  @media only screen and (min-width : 320px) and (max-width : 667px)
    h2
      text-align: center
      font-size: 42px
    p, .text-right
      text-align: center

@media only screen and (min-width : 320px) and (max-width : 667px)

  h1, h2, h3, h4, h5, h6
    line-height: 100%

  h2
    font-size: 36px
  .lead
    font-size: 16px
    margin-top: 15px

  #latest_taf
    padding: 60px 0
    .col-centered
      width: 100%
    .owl-theme .owl-controls .owl-buttons .owl-next
      right: 0px
    .owl-theme .owl-controls .owl-buttons .owl-prev
      left: 0px
    .taf
      margin: 4% 9%
    ul
      margin: 0

  #whyuse
    padding: 60px 0
    .lead
      margin-bottom: 60px
      margin-top: 15px
    ul
      margin-top: 0px
    .tiles.three_up > li
      width: 100%
      margin-bottom: 30px
      padding: 0px 30px

  #domains
    padding: 60px 0
    .lead
      margin-top: 15px
    .grille-domaines .domaine .bg
      border-top: 10px solid $white
      border-bottom: 10px solid $white
      border-left: 0px
      border-right: 0px
    .grille-domaines .domaine h3
      font-size: 21px

  #testimonials
    padding: 60px 0
    .row
      text-align: center
    .testimonial
      text-align: center
      padding: 0 40px
      margin-top: 60px
      blockquote
        padding-right: 0px
        &::before
          left: -10px
        &::after
          right: -10px
      .name
        margin-top: 25px
      &:nth-child(2)
        display: none
      &:first-child
        margin-left: 0px
        margin-right: 0px
    .owl-theme .owl-controls .owl-buttons .owl-prev
      left: 15px
    .owl-theme .owl-controls .owl-buttons .owl-next
      right: 15px

  #theyuse
    padding: 60px 0
    ul
      padding: 0px 15px
    .tiles.five_up > li
      width: 48%

  footer
    margin-top: 60px
    padding: 60px 0 60px 0
    .height100
      height: auto
      padding: 20px 70px
    .contactus
      text-align: center
    .footer-second
      p
        text-align: center
        line-height: 140%
      .footer-logo
        position: relative
        margin: auto
        margin-top: 15px
        display: none

  .col-centered
    margin-right: 0px

  header
    height: auto
    padding: 60px 0 80px 0
    .bg
      img
        width: auto
        height: auto
        min-width: 100%
        min-height: 100%
    h1
      text-align: center
      font-size: 38px
      display: none
    .compteur
      margin-top: 20px
      display: none
      width: 100%
      margin: auto
      text-align: center
      padding-top: 20px
    .verticalalign
      top: 0
      -moz-transform: translateY(0%)
      -webkit-transform: translateY(0%)
      transform: translateY(0%)
    .choix
      text-align: center
      margin-top: 60px
      h2
        font-size: 28px
        margin-bottom: 15px
      p
        font-size: 13px
      .btn
        float: none
        margin-top: 30px
      .prix
        float: none
        clear: none
        padding: 0
        display: block
        margin-top: 10px
        text-align: left
  header .choix:last-child .prix
    padding: 0

  #first_panel
    display: none

  #principal
    background: $dark-mauve
    top: 0 !important
    .principal_nav
      right: 0
      left: 0
      width: 100%
      top: 0
      height: auto
      padding-top: 80px
      -webkit-transform: translateY(-400%)
      -moz-transform: translateY(-400%)
      transform: translateY(-400%)
      -webkit-transition: all 0.4s
      transition: all 0.4s
      z-index: 0
      &.active
        -webkit-transform: translateY(0%)
        -moz-transform: translateY(0%)
        transform: translateY(0%)
      li
        background: $dark-mauve
        padding: 15px 20px
        text-align: center
        border: none
        width: 100%
        border-top: 1px solid rgba(#ffffff, 0.2)
  #principal .principal_nav li:last-child
    padding-right: 20px

  .navToggle
    display: block
    z-index: 9999999999




@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
  h1, h2, h3, h4, h5, h6
    line-height: 100%

  h2
    font-size: 36px
  .lead
    font-size: 16px
    margin-top: 15px

  #latest_taf
    padding: 60px 0
    .col-centered
      width: 100%
    .owl-theme .owl-controls .owl-buttons .owl-next
      right: 0px
    .owl-theme .owl-controls .owl-buttons .owl-prev
      left: 0px
    .taf
      margin: 4% 9%
    ul
      margin: 0

  #whyuse
    padding: 60px 0
    .lead
      margin-bottom: 60px
      margin-top: 15px
    ul
      margin-top: 0px
    .tiles.three_up > li
      width: 100%
      margin-bottom: 60px
      padding: 0px 80px

  #domains
    padding: 60px 0
    .lead
      margin-top: 15px
    .grille-domaines
      padding: 0px 10px
    .grille-domaines .domaine
      width: 49.7%
      display: inline-block
      padding: 0
    .grille-domaines .domaine .bg
      border-top: 10px solid $white
      border-bottom: 10px solid $white
      border-left: 10px solid $white
      border-right: 10px solid $white
    .grille-domaines .domaine h3
      font-size: 21px

  #testimonials
    padding: 100px 0
    .row
      text-align: center
    .testimonial
      text-align: center
      padding: 0 40px
      margin-top: 60px
      blockquote
        padding-right: 0px
        &::before
          left: -10px
        &::after
          right: -10px
      .name
        margin-top: 25px
      &:nth-child(2)
        display: none
      &:first-child
        margin-left: 0px
        margin-right: 0px
    .owl-theme .owl-controls .owl-buttons .owl-prev
      left: 15px
    .owl-theme .owl-controls .owl-buttons .owl-next
      right: 15px

  #theyuse
    padding: 60px 0
    ul
      padding: 0px 15px
      margin: 0
      margin-top: 60px
    .tiles.five_up > li
      width: 48%

  footer
    padding: 60px 0 60px 0
    .height100
      height: auto
      padding: 20px 70px
    .contactus
      text-align: center
    .footer-second
      p
        text-align: center
        line-height: 140%
      .footer-logo
        position: relative
        margin: auto
        margin-top: 15px
        display: none

  .col-centered
    margin-right: 0px
    width: 100%

  header
    height: auto
    padding: 60px 0 80px 0
    .bg
      img
        width: auto
        height: auto
        min-width: 100%
        min-height: 100%
    h1
      text-align: center
      font-size: 38px
      //display: none
      &.title_home
        display: none
    .compteur
      margin-top: 20px
      display: none
      width: 100%
      margin: auto
      text-align: center
      padding-top: 20px
    .verticalalign
      top: 50%
      -moz-transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
      &.home_verticalalign
        top: 0%
        -moz-transform: translateY(0%)
        -webkit-transform: translateY(0%)
        transform: translateY(0%)
    .choix
      text-align: center
      margin-top: 60px
      h2
        font-size: 28px
        margin-bottom: 15px
      p
        font-size: 13px
      .btn
        float: none
        margin-top: 30px
      .prix
        float: none
        clear: none
        text-align: center
        padding: 0
        display: block
        margin-top: 10px

  header .choix:last-child .prix
    padding: 0

  #first_panel
    display: none

  #principal
    background: $dark-mauve
    top: 0 !important
    .principal_nav
      right: 0
      left: 0
      width: 100%
      top: 0
      height: auto
      padding-top: 80px
      -webkit-transform: translateY(-400%)
      -moz-transform: translateY(-400%)
      transform: translateY(-400%)
      -webkit-transition: all 0.4s
      transition: all 0.4s
      z-index: 0
      &.active
        -webkit-transform: translateY(0%)
        -moz-transform: translateY(0%)
        transform: translateY(0%)
      li
        background: $dark-mauve
        padding: 15px 20px
        text-align: center
        border: none
        width: 100%
        border-top: 1px solid rgba(#ffffff, 0.2)
  #principal .principal_nav li:last-child
    padding-right: 20px

  .navToggle
    display: block
    z-index: 9999999999



@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)

  header
    height: 800px

  #theyuse
    padding: 80px 0


  #testimonials
    padding: 60px 0 100px 0

  #domains
    padding: 60px 0

  #domains .container
    padding: 0

  #domains .grille-domaines
    padding: 0

  #whyuse
    padding: 80px 0

  #whyuse ul li img
    max-width: 100px

  #latest_taf
    padding: 60px 0 60px 0

  #latest_taf .owl-theme .owl-controls .owl-buttons .owl-next
    right: -20px

  #latest_taf .owl-theme .owl-controls .owl-buttons .owl-prev
    left: -20px

  #latest_taf .btn
    margin-top: 0px


  header
    height: auto
    padding: 120px 0 80px 0
    .bg
      img
        width: auto
        height: auto
        min-width: 100%
        min-height: 100%
    h1
      text-align: center
      font-size: 38px
      //display: none
      &.title_home
        display: none
    .compteur
      margin-top: 20px
      display: none
      width: 100%
      margin: auto
      text-align: center
      padding-top: 20px
    .verticalalign
      top: 0
      -moz-transform: translateY(0%)
      -webkit-transform: translateY(0%)
      transform: translateY(0%)
    .choix
      text-align: center
      margin-top: 60px
      h2
        font-size: 28px
        margin-bottom: 15px
      p
        font-size: 13px
      .btn
        float: none
        margin-top: 30px
      .prix
        float: none
        clear: none
        text-align: center
        padding: 0
        display: block
        margin-top: 10px

  header .choix:last-child .prix
    padding: 0

  header .choix:last-child::before
    left: 0%


  #first_panel
    padding: 60px 0 40px 0

  #first_panel ul
    margin-top: 20px


.faq
  padding: 75px 0
  h3
    margin-top: 30px



.four_steps
  margin: 150px 0 50px
  .tiles.four_up > li
    width: 100%
    h4
      margin-bottom: 15px
    img
      max-width: 40%
      margin-bottom: 20px
    p
      margin-bottom: 75px


.choix:last-child::before
  @media ($md-max)
    display: none
.title_home
  @media ($md-max)
    display: none
.compteur
  @media ($md-max)
    display: none


#metiers_domains
  .domaine
    &.full
      width: 100%!important
      @media ($md-max)
        width: 100%!important
    &.semi
      width: 48%!important
      @media ($md-max)
        width: 100%!important


#first_panel
  @media ($md-max)
    display: none!important
  .bandeau
    @media ($md-max)
      display: none!important
#principal
  &.translated
    transform: translateY(0)
    -webkit-transform: translateY(0)
    -moz-transform: translateY(0)
  @media (max-width: 1024px)
    top: 60px!important
    &.translated
      transform: translateY(-62px)
      -webkit-transform: translateY(-62px)
      -moz-transform: translateY(-62px)
.navToggle
  @media (max-width: 1024px)
    top: 75px!important
    &.translated
      transform: translateY(-62px)
      -webkit-transform: translateY(-62px)
      -moz-transform: translateY(-62px)

.bandeau_mobile
  @media (max-width: 1024px)
    background: $vert
    padding: 23px 0
    width: 100%
    position: fixed
    text-align: center
    margin: auto
    top: 0
    z-index: 99
    p
      color: $white
      text-align: center
      font-size: 14px
      @media ($xs-max)
        font-size: 12px
    .btn-mobile-bandeau
      border: 2px solid $jaune
      background: none
      color: $white
      font-size: 15px
      text-transform: none
      padding: 5px 25px 6px 25px
      border-radius: 10px
      margin-left: 7px
      font-family: 'Patua One', Arial
      cursor: pointer
      @media ($xs-max)
        padding: 5px 10px 5px 10px
        font-size: 14px
    .close-btn-mobile
      position: absolute
      right: 25px
      color: $rouge
      top: 18px
      font-size: 24px
      cursor: pointer
      opacity: 1
    &.translated
      transform: translateY(-62px)
      -webkit-transform: translateY(-62px)
      -moz-transform: translateY(-62px)
header .choix
  @media ($md-max)
    margin-top: 90px


.col_latest_taf
  width: 100%
