#pricing
  background: #F8F7F7
  padding: 75px 0
  text-align: center
  svg
    width: 100px
    height: 100px
  .pertaf
    color: $yellow
    font-size: 18px!important
    display: inline-block
    position: absolute
    top: 25px
    margin-left: 20px
    font-weight: bold
  h3
    color: $rouge
    margin-top: 20px
    font-size: 36px
  .pricing
    color: $vert
    font-size: 65px
    font-weight: bold
    display: inline-block
    font-weight: bold
  .pricing-cont
    position: relative
    margin: 50px 0 50px 0
  .infos
    text-align: left
    padding: 0 100px
    margin-top: 135px
    font-size: 20px
    @media ($md-max)
      padding: 0 50px
      margin-top: 25px
      margin-bottom: 100px
  .jauge-right
    margin-top: 50px
    height: 30px
    width: 100%
    background: $soft-mauve
    border-radius: 0px 5px 5px 0
    position: absolute
    right: 15px
    @media (max-width: 992px)
      right: 0
      border-radius: 5px
      display: none
  .jauge-left
    margin-top: 50px
    height: 30px
    width: 100%
    background: #DADBDD
    border-radius: 5px 0px 0px 5px
    position: absolute
    left: 15px
    @media (max-width: 992px)
      left: 0
      border-radius: 5px
      display: none
#stars
  width: 50px!important
  height: 50px!important
  display: block
  position: absolute
  left: 50%
  transform: translateX(-50%)
  top: 90px
