$inputbg: #f2f1f1
$placeholder: #808080
$asterix: #ec6472

.inscription-container
  font-family: 'Patua One', sans-serif!important

.titre-mauve
  color: $soft-mauve
  text-align: center

.not-found
  p
    font-family: 'Patua One', sans-serif!important

.inscription-mail
  padding: 250px 0

//Connectez vous  ----------------
.connectez-vous
  @media ($sm-max)
    padding: 30px 15px
  .btn
    display: block
  .forgetpsw
    color: $soft-mauve
    display: block
    margin-top: 20px
    &:hover
      color: $asterix
  .checkbox-label
    font-family: $open
    font-weight: normal
    &:hover
      cursor: pointer
    span
      margin-right: 15px!important
      border: 2px solid $soft-mauve!important
//NAVIGATION -------------------------------
.nav-inscription
  width: 100%
  font-size: 0
  a
    display: block
    background: #dadbdd
    height: 60px
    //width: 33.33%
    font-size: 20px
    display: inline-block
    text-align: center
    line-height: 60px
    font-family: 'Patua One', serif
    color: $white
    &.active
      background: $soft-mauve
///////////////////////////
//                       //
//        TVA            //
//                       //
///////////////////////////
.note
  color: $asterix
  font-size: 12px
  float: right
  margin-right: 15px
  margin-top: 10px
label, input, select, option
  font-family: 'Patua One', sans-serif
.asterix
  color: $asterix
.tva
  margin-top: 150px
  margin-bottom: 150px
  @media ($sm-max)
    margin: 40px 0 75px
  .tva-input
    padding-right: 0
  h3
    color: #3e364a
    margin-bottom: 20px
    font-size: 20px
  input
    width: 100%!important
  .tva-icon
    display: inline-block
    background: $yellow
    text-align: center
    line-height: 50px
    height: 50px
    width: 50px
    font-size: 30px
    color: #3e364a
    border: none
    transition: all .15s
    &:hover
      background: lighten($yellow, 10%)
      font-size: 36px
.fa-sort-desc
  line-height: 40px!important


.inscription-form, .jobs-form
  input
    width: 80%
    height: 50px
    background: #f2f1f1
    border: none
    margin-right: 0
    padding: 0 20px
    &:focus
      outline-color: #3e364a
      outline-width: 2px
///////////////////////////
//                       //
//         FORM          //
//                       //
///////////////////////////

.form-icon
  display: inline-block
  position: absolute
  background: $yellow
  text-align: center
  line-height: 50px
  height: 50px
  width: 50px
  font-size: 30px
  color: #3e364a
  border: none
  transition: all .15s
  right: 16px
  top: 50px
  @media ($sm-min)
    top: 50px
  &:hover
    background: lighten($yellow, 10%)
    font-size: 36px
    .tooltip
      opacity: 1
      display: inline-block
  .tooltip
    display: none
    position: absolute
    opacity: 0
    width: 250px
    background: $soft-mauve
    color: $white
    padding: 15px
    top: -110px
    left: 0
    transition: 0.3s opacity
    text-align: left
    font-size: 14px
    @media ($sm-max)
      display: none

.inscription-form, .jobs-form
  .row
    padding-top: 50px
    padding-bottom: 50px
    &::after
      background: #3e364a
      content: ""
      position: relative
      display: block
      height: 1px
      top: 50px
      margin: 0 15px!important
      left: 0
    &:last-child
      &::after
        display: none
  label
    display: block
    color: $soft-mauve
  input
    width: 100%
  fieldset
    position: relative
    //height: 90px
    label
      display: inline-block
      height: 50px
      line-height: 50px
      vertical-align: baseline
      position: relative
    input
      display: inline-block
      width: auto
      vertical-align: baseline
      top: 16px
      position: relative
  label
    height: 50px
    padding-top: 15px
  .mr
    text-align: right
    padding-right: 40px
  .mdme
    padding-left: 40px
  .mr, .mdme
    color: $soft-mauve
    font-size: 18px
    @media ($sm-max)
      text-align: left
      display: inline-block
      padding: 0 20px
  .field-group
    height: 70px
    margin-top: 20px
    margin-bottom: 30px
  .lang_dropdown
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: none
    border: none
    border-radius: 0
    font-size: 16px
    background: $inputbg
    outline: none
    font-weight: 400
    display: block
    width: 100%
    height: 50px
    position: relative
    padding: 0 20px
    color: $placeholder
//CHECKBOXES   ---------------------------------
.inscription-form
  .col-sm-8
    margin-bottom: 0
    margin-top: 10px
    height: 50px
  input[type="checkbox"]
    display: none
  input[type="checkbox"] + label span
    display: inline-block
    width: 22px
    height: 22px
    margin: -1px 4px 0 0
    vertical-align: middle
    background: transparent
    cursor: pointer
    border: 3px solid $soft-mauve
    margin-right: 50px
  input[type="checkbox"]:checked + label span
    background: url('../img/icon/v-01.png') no-repeat  center -1px
    background-size: contain
    padding: 5px
  .checkbox-label
    a
      color: $asterix
//RADIOBUTTONS    ---------------------------------
.inscription-form
  input[type="radio"]
    display: none
  input[type="radio"] + label span
    display: inline-block
    width: 26px
    height: 26px
    margin: -1px 4px 0 0
    vertical-align: middle
    background: transparent
    cursor: pointer
    border: 6px solid $jaune
    margin-right: 50px
    border-radius: 26px
  input[type="radio"]:checked + label span
    background: $soft-mauve
    padding: 5px
  .btn-next
    float: right

.btn-add
  margin-top: 40px


///////////////////////////
//                       //
//       METIERS         //
//                       //
///////////////////////////
.jobs-container
  padding-bottom: 75px
.jobs
  &::before
    content: ""
    background: $soft-mauve
    width: 1px
    height: 350px
    top: 50px
    display: block
    right: 0
    position: absolute
  font-family: 'Patua One', sans-serif
  padding-top: 100px
  h3
    background: $vert
    display: block
    width: 80%
    margin: 0 auto
    color: $white
    height: 40px
    line-height: 40px
    text-align: center
    @media ($sm-max)
      width: 100%
  ul
    width: 80%
    display: block
    margin: 0 auto
    font-size: 0
    background: #f2f1f1
    @media ($sm-max)
      width: 100%
    li
      width: 50%
      display: inline-block
      font-size: 14px
      padding: 15px
      &.delete
        border-right: 1px solid #000
        font-family: 'Patua One', serif
        &::before
          margin-right: 10px
          font-size: 18px
          font-family: 'Fontawesome'
    &.subtitle
      background: #d6d7d9
      li
        font-size: 18px
.jobs-right
  padding-top: 50px
  .jobs-form
    width: 80%
    margin: 0 auto
    @media ($sm-max)
      width: 100%
    label
      font-size: 18px
    .light
      font-size: 14px
    .field-group
      position: relative
      .tva-icon
        right: 0
    .btn-add
      float: right
      background: $soft-mauve
      color: $white
.not-found
  width: 80%
  margin: 50px auto
  font-size: 16px
  @media ($sm-max)
    width: 100%
  h4
    color: $asterix
  a
    color: $vert
    font-weight: bold
    &:hover
      color: $asterix

.metier-container
  .name
    text-align: center
    h4
      margin-bottom: 25px
    p
      margin-bottom: 50px
  .form-titles
    @media ($sm-max)
      display: none
  .separator-exp
    margin: 30px 15px 45px
    @media ($sm-min)
      display: none
///////////////////////////
//                       //
//    EXPERIENCES        //
//                       //
///////////////////////////

.bold
  font-weight: bold
.exp-container
  padding-top: 75px
  .years
    input[type=range]
      transform: translateY(-40px)
    h4
      margin-bottom: 35px!important
    .y
      position: relative
      left: 0
    @media (max-width: 1190px)
      ul li:first-child
        top: 55px
        left: 0
      ul li:last-child
        top: 55px
        right: 0
      input[type=range]
        margin-top: 60px
    @media ($sm-max)
      ul li:first-child
        top: 35px
        left: 25px
      ul li:last-child
        top: 35px
        right: 25px
  .years
    text-align: center
    h4
      margin-bottom: 15px
    .icon-less, .icon-more
      margin-top: 20px
      background: $yellow
      display: inline-block
      color: $white
      padding: 4px 5px 3px
    .icon-more
      float: left
      margin-left: 5px
    .icon-less
      float: left
  h4
    display: inline-block
    margin-right: 40px
  .selected-job
    background: $jaune
    display: inline-block
    font-family: $open
    font-weight: bold
    font-size: 18px
    padding: 20px 120px
    text-transform: uppercase
  .introduction
    padding-bottom: 75px
    font-family: 'Open Sans', sans-serif
    line-height: 20px
  .row-form
    margin-top: 75px
  .experiences-form
    width: 85%
    display: block
    position: relative
    left: 15%
  .add-more
    display: block
    position: relative
    margin-top: -218px
    padding: 54px 15px
    width: 15%
    @media ($sm-max)
      position: relative
      margin: 0 auto
      width: 100%
      padding: 30px 15px
    .add-cont
      background: $soft-mauve
      width: 150px
      height: 150px
      position: relative
      text-align: center
      @media (max-width: 1200px)
        width: 100px
        height: 100px
      @media ($sm-max)
        margin: 0 auto
      i
        color: $jaune
        font-size: 120px
        text-align: center
        top: 5px
        left: 27px
        position: absolute
        @media (max-width: 1200px)
          font-size: 58px
      a
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        line-height: 260px
        font-size: 20px
        color: $white
        @media (max-width: 1200px)
          line-height: 145px
  .experiences-form
    h4
      font-size: 18px
      text-align: center
      margin-bottom: 25px
      @media (max-width: 1000px)
        font-size: 16px
    @media ($sm-max)
      left: 0
      width: 100%
    input
      width: 100%
      height: 40px
      margin-bottom: 15px
      background: $inputbg
      outline: none
      border: none
      box-shadow: none
      padding: 15px
  label
    color: $soft-mauve
    margin-left: 15px
    background: $inputbg
    font-size: 18px
    display: block
    margin-top: 20px
    padding: 15px 15px
    margin-right: 15px
  textarea
    width: calc(100% - 30px)
    margin-left: 15px
    background: $inputbg
    border: none
    padding: 0 15px
    box-shadow: none
    outline: none
    margin-bottom: 30px

.separator-exp
  height: 1px
  background: #CCC
  position: relative
  display: block
  margin: 70px 0 100px
  width: auto
//RANGE SYSTEM
//input[type=range]
  -webkit-appearance: none
  width: 100%
//input[type=range]::-webkit-slider-thumb
  -webkit-appearance: none
//input[type=range]:focus
  outline: none
//input[type=range]::-ms-track
  width: 100%
  cursor: pointer
  background: transparent
  border-color: transparent
  color: transparent


.new-taf
  .form-input
    margin-right: 55%
    @media ($sm-max)
      margin-right: 0
  .row
    &::after
      display: none
  .newtaf-icon
    margin-bottom: 70px
  .motivation
    margin-top: 50px
    display: block
    margin-left: 15px
  .textarea
    margin-top: 50px
  textarea
    width: calc(100% - 30px)
    background: $inputbg
    border: none
    padding: 15px
    box-shadow: none
    outline: none
    margin-bottom: 30px
    margin-left: 15px
    height: 235px

.confirm, .confirm-mail
  padding: 200px 0
  @media ($sm-max)
    padding: 75px 0
    margin-left: 15px
  .confirmation
    padding-left: 30%
    background: url('../img/logo-bg.png') no-repeat 0 center
    @media ($sm-max)
      padding-left: 15px
  h2
    font-size: 60px
    margin-bottom: 40px
  p
    font-size: 20px
    margin-bottom: 40px
    color: $soft-mauve
    &.green
      color: $vert
      font-weight: bold
      text-transform: uppercase
      margin-bottom: 100px
.confirm-mail
  .confirmation
    background-size: contain
    padding-left: 25%
  h2
    font-size: 46px



.background_logo
  display: block
  text-align: center
  top: 50%
  position: absolute
  transform: translateY(-50%)
  @media ($sm-max)
    width: 100%
  img
    max-height: 200px
.row_logo
  position: relative
  .col-sm-8
    margin-left: 33.3333%
    @media ($sm-max)
      margin-left: 0
  h2
    @media ($sm-max)
      font-size: 48px

//Inscription -------------------
.profil_infos
  h1
    color: $yellow
    text-align: center
.desinscription
  font-size: 15px
.newsletter-group
  margin-bottom: 0!important
.btn-modification
  @media ($sm-max)
    float: none
    width: 100%
    text-align: center
    font-size: 18px
