#domains .grille-domaines
  .col-md-3
    .bg
      img
        max-width: 120%
#metiers_domains .grille-domaines .domaine .bg img
  max-width: 120%


.inner_taf .coordonnees .titre_coordonnee
  .lieu, .experiences, .inner-score
    border: none




#ecretape3
  height: auto
  margin-bottom: -250px

#form_box
  height: auto!important
  top: -400px

.taf
  .title
    height: 30px!important
  p
    margin-bottom: 20px!important
.info-taf
  padding: 0 0 40px 0!important
.expire
  height: 40px


#latest_taf .swipe-taf
  overflow: visible



input[type=text]::-ms-clear
  display: none
  width: 0
  height: 0
input[type=text]::-ms-reveal
  display: none
  width: 0
  height: 0
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none


#form-choisi-metier
  .find_job
    margin-bottom: 50px
@media (max-width: 768px)
  .show_all_tafs_header .container .search
    top: 20px


footer.neutral
  position: absolute
  bottom: -300px
  width: 100%


.form_box
  height: auto!important


.status-one
  bottom: -60px 
