.years
  .y
    background: $soft-mauve
    width: 80px
    height: 40px
    line-height: 40px
    color: $white
    font-family: $open
    font-size: 20px
    margin: 0 auto
    position: absolute
    top: -50px
    left: 325px
    @media (max-width: 1200px)
      top: -15px
      left: 200px
  ul
    li
      font-family: $open
      display: inline-block
      font-size: 20px
    li:last-child
      position: absolute
      right: 50px
      top: -35px
    li:first-child
      left: 215px
      top: -35px
      position: absolute
  h4
    display: inline-block
    float: left
    margin-right: 0px!important
    @media (max-width: 1200px)
      display: block
      float: none
  .icon-less
    margin-left: 23px
    margin-right: 10px
  .icon-less, .icon-more
    padding: 8px 10px 8px!important
  input
    display: inline-block
    width: 340px


  ////input[type=range]
    -webkit-appearance: none
    margin: 10px 0
    width: 100%

  input[type=range]:focus
    outline: none

  //input[type=range]::-webkit-slider-runnable-track
    width: 100%
    height: 12.8px
    cursor: pointer
    animate: 0.2s
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    background: $vert
    //border-radius: 25px
    border: 0px solid #000101

  //input[type=range]::-webkit-slider-thumb
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border: 0px solid #000000
    height: 40px
    width: 40px
    border-radius: 40px
    background: $vert
    cursor: pointer
    -webkit-appearance: none
    margin-top: -12.5px

  //input[type=range]:focus::-webkit-slider-runnable-track
    background: $vert

  //input[type=range]::-moz-range-track
    width: 100%
    height: 12.8px
    cursor: pointer
    animate: 0.2s
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    background: $vert
    border-radius: 25px
    border: 0px solid #000101

  //input[type=range]::-moz-range-thumb
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border: 0px solid #000000
    height: 20px
    width: 39px
    border-radius: 7px
    background: $vert
    cursor: pointer

  //input[type=range]::-ms-track
    width: 100%
    height: 12.8px
    cursor: pointer
    animate: 0.2s
    background: transparent
    border-color: transparent
    border-width: 39px 0
    color: transparent

  //input[type=range]::-ms-fill-lower
    background: $vert
    border: 0px solid #000101
    border-radius: 50px
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d

  //input[type=range]::-ms-fill-upper
    background: $vert
    border: 0px solid #000101
    border-radius: 50px
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d

  //input[type=range]::-ms-thumb
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d
    border: 0px solid #000000
    height: 20px
    width: 39px
    border-radius: 7px
    background: $vert
    cursor: pointer

  //input[type=range]:focus::-ms-fill-lower
    background: $vert

  //input[type=range]:focus::-ms-fill-upper
    background: $vert
input[type=range].range
  -webkit-appearance: none
  width: 100%
  margin: 7.3px 0
  &:focus
    outline: none
  &::-webkit-slider-runnable-track
    width: 100%
    height: 11.4px
    cursor: pointer
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
    background: rgba(20, 171, 160, 0.78)
    border-radius: 1.3px
    border: 0.2px solid #14aba0
  &::-webkit-slider-thumb
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
    border: 1.8px solid #14aba0
    height: 26px
    width: 26px
    border-radius: 26px
    background: #14aba0
    cursor: pointer
    -webkit-appearance: none
    margin-top: -7.5px
  &:focus::-webkit-slider-runnable-track
    background: rgba(20, 171, 160, 0.78)
  &::-moz-range-track
    width: 100%
    height: 11.4px
    cursor: pointer
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
    background: rgba(20, 171, 160, 0.78)
    border-radius: 1.3px
    border: 0.2px solid #14aba0
  &::-moz-range-thumb
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
    border: 1.8px solid #14aba0
    height: 26px
    width: 26px
    border-radius: 26px
    background: #14aba0
    cursor: pointer
  &::-ms-track
    width: 100%
    height: 11.4px
    cursor: pointer
    background: transparent
    border-color: transparent
    color: transparent
  &::-ms-fill-lower, &::-ms-fill-upper
    background: rgba(20, 171, 160, 0.78)
    border: 0.2px solid #14aba0
    border-radius: 2.6px
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
  &::-ms-thumb
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0)
    border: 1.8px solid #14aba0
    height: 26px
    width: 26px
    border-radius: 26px
    background: #14aba0
    cursor: pointer
    height: 11.4px
  &:focus
    &::-ms-fill-lower, &::-ms-fill-upper
      background: rgba(20, 171, 160, 0.78)
