.sg-title
  font-size: 60px
  color: $yellow
  &::after
    content: ""
    height: 1px
    width: 100%
    background: $yellow
    display: block
    margin-bottom: 25px
    opacity: .4
.sg-container
  padding: 150px 0 100px
.bg-mauve
  background: $soft-mauve
  padding: 15px 0
  text-align: center
  margin-bottom: 50px
.sg-btns
  button
    display: block
.sg-icon
  top: 70px
  @media ($sm-max)
    top: 50px
