//
// my_taf.php
//

.fade
  .modal-suppression
    transform: translate(-50%, -60%)!important
    top: 50%!important
    left: 50%!important
    position: absolute!important
.modal-suppression
  text-align: center
  .modal-content
    background: #DADBDD
    border-radius: 0
    padding: 25px 0
    .field-group
      text-align: center
      margin-top: 15px
      a
        color: #000
        font-size: 20px
        display: inline-block
        &:last-child
          &:hover
            color: $asterix
        &:first-child
          &:hover
            color: $vert
          &::after
            content: ""
            width: 2px
            height: 30px
            display: inline-block
            background: #000
            position: relative
            margin: 0 24px 0 25px
            top: 6px
.in
  .modal-suppression
    transform: translate(-50%, -50%)!important
.select_category
  background: #E5E5E5
  a
    padding: 30px 0
    display: inline-block
    color: $dark-mauve
    &.active
      font-weight: bold
    &:hover
      color: $vert

.category_filter
  background: #F2F2F2
  padding: 20px 0
  input[type="checkbox"]
    border: 1px solid #EEE
    background: #FFF
    padding: 10px
    border-radius: 0px
    margin: 0px 10px 0px 50px
    &:first-child
      margin-left: 0px
  label
    color: $dark-mauve
    font-size: 14px

.category_tafs
  padding: 100px 0
  ul
    overflow: inherit
  .taf
    background: #F4F4F4
    padding: 15px 15px 130px 15px
    max-width:  100%
    margin-bottom: 2%
    position: relative
    cursor: pointer
    z-index: 9
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    transition: all 0.2s
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3)
    -webkit-transform: scale(0.95)
    transform: scale(0.95)
    @media ($md-max)
      margin-bottom: 120px
    &:hover
      -webkit-transform: scale(1)
      transform: scale(1)
    img
      width: 100%
      margin-bottom: 20px
      border-bottom: 5px solid $jaune
    .title
      color: $dark-mauve
      font-size: 21px
      display: block
      margin-bottom: 12px
      font-family: 'Patua One', cursive
      text-align: left
      height: 50px

    p
      text-align: left
      line-height: 140%
      color: $soft-mauve
      font-size: 14px
      max-width: 85%
    .reponse
      position: absolute
      right: 25px
      top: 0px
      background: $vert
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)
      padding: 10px
      color: $white
      z-index: 999
      font-weight: 700
      font-size: 22px
      line-height: 80%
      font-family: 'Patua One', cursive
      width: 85px
      &::before
        content: ""
        position: absolute
        left: 0px
        top: 99%
        z-index: -1
        border-left: 12px solid $vert
        border-right: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
      &::after
        content: ""
        position: absolute
        right: 0px
        top: 99%
        z-index: -1
        border-right: 12px solid $vert
        border-left: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
      .small-reponse
        font-size: 14px
      .status
        font-size: 12px
        border-top: 1px solid #FFF
        display: block
        font-family: 'Source Sans Pro', sans-serif
        padding-top: 3px
        margin-top: 5px
    .budget
      position: absolute
      right: 25px
      top: 0px
      background: $vert
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)
      padding: 10px
      color: $white
      z-index: 999
      font-weight: 600
      font-size: 16px
      line-height: 140%
      font-family: 'Patua One', cursive
      width: 85px
      &::before
        content: ""
        position: absolute
        left: 0px
        top: 99%
        z-index: -1
        border-left: 12px solid $vert
        border-right: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
      &::after
        content: ""
        position: absolute
        right: 0px
        top: 99%
        z-index: -1
        border-right: 12px solid $vert
        border-left: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $vert
    .topay
      background: $rouge
      &::before
        content: ""
        position: absolute
        left: 0px
        top: 99%
        z-index: -1
        border-left: 12px solid $rouge
        border-right: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $rouge
      &::after
        content: ""
        position: absolute
        right: 0px
        top: 99%
        z-index: -1
        border-right: 12px solid $rouge
        border-left: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $rouge
    .toconfirm
      background: $jaune
      &::before
        content: ""
        position: absolute
        left: 0px
        top: 99%
        z-index: -1
        border-left: 12px solid $jaune
        border-right: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $jaune
      &::after
        content: ""
        position: absolute
        right: 0px
        top: 99%
        z-index: -1
        border-right: 12px solid $jaune
        border-left: 30px solid transparent
        border-bottom: 7px solid transparent
        border-top: 15px solid $jaune
    .expire
      background: $vert
      position: absolute
      left: 0
      right: 0
      bottom: 0
      width: 100%
      font-family: 'Patua One', cursive
      color: $white
      text-align: right
      padding: 5px 10px
      font-size: 13px
    .info-taf
      background: $soft-mauve
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: auto
      color: $white
      font-size: 13px
      font-weight: 600
      line-height: 130%
      padding: 0px 0 25px 0
      .col-md-12
        text-align: left
        position: relative
        padding: 12px 0px 12px 45px
        i
          position: absolute
          left: 10px
          color: $vert
          font-size: 22px
          width: 25px
          top: 10px
          text-align: center
        &:nth-child(2)
          border-top: 1px solid rgba(#ffffff, 0.1)
    &:hover
      > .hoverit
        opacity: 1

  .hoverit
    background: rgba(#25202d, 0.9)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    z-index: 99
    opacity: 0
    -webkit-transition: all 0.3s
    transition: all 0.3s
    @media ($md-max)
      background: transparent
      opacity: 1
      h4
        display: none
    h4
      color: #FFF
      top: 40%
      font-size: 32px
      margin: auto
      position: relative
      -ms-transform: translateY(-40%)
      -webkit-transform: translateY(-40%)
      -moz-transform: translateY(-40%)
      transform: translateY(-40%)
    .status
      position: absolute
      width: 100%
      height: auto
      bottom: 0
      left: 0
      right: 0
      @media ($md-max)
        bottom: -115px
      .encours, .modifier, .apayer, .supprimer
        padding: 20px 0
        text-align: center
        width: 100%
        display: block
        color: $white
        font-size: 18px
        font-family: 'Patua One', cursive
        -webkit-transition: all 0.2s
        transition: all 0.2s
      .encours
        background: $jaune
        &:hover
          background: darken($jaune, 15)
      .modifier
        background: $vert
        &:hover
          background: darken($vert, 15)
      .apayer
        background: $rouge
        &:hover
          background: darken($rouge, 15)
      .supprimer
        background: #DDD
        bottom: 0
        &:hover
          background: darken(#DDD, 15)

  .middle-time
    .expire
      background: $jaune
  .end-time
    .expire
      background: $rouge
  .expired
    .expire
      background: #CCC

.block-pagination
  background: $jaune
  margin: auto
  text-align: center
  padding: 5px 0
  @media ($sm-max)
    padding: 25px 0
  .group
    display: inline-block
    position: absolute
    left: 68px
    margin-top: 5px
    @media ($sm-max)
      position: relative
      left: 0
      display: block
      text-align: center
      p
        display: block
      select
        display: block
        margin: 15px auto 0
    p
      @extend h4
  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: none
    border: none
    border-radius: 0
    font-size: 16px
    background: #f2f1f1
    outline: none
    font-weight: 400
    display: inline-block
    width: auto
    height: 30px
    position: relative
    padding: 0 20px
    color: #808080
    line-height: 30px
    margin-left: 20px
    border-radius: 5px
  .pagination
    margin: 0
    @media ($sm-max)
      display: block
      text-align: center
      margin: 25px auto 10px
      position: relative
      width: 100%
    li
      &.active
        a
          color: $white
          background: none
      a
        border: none
        color: $dark-mauve
        font-weight: bold
        @media ($sm-max)
          float: none
          color: $white!important
          background: none!important
        &:last-child, &:first-child
          border-radius: 0px
          &:hover
            color: $white
            background: none



//
// into_taf.php
//


.inner_taf_info
  .container
    position: relative
.mytaf_infos
  p
    margin-bottom: 30px
.inner_taf
  padding: 220px 0 100px 0
  .container
    position: relative
  form
    margin-top: 50px
  h2
    color: $rouge
    padding-bottom: 10px
  .titre
    @media ($sm-max)
      margin-top: 40px
    p
      font-size: 21px
      font-weight: 600
      color: $dark-mauve

  .description
    margin-top: 20px
    p
      line-height: 160%
      color: $dark-mauve
  .btn
    margin-top: 20px
    font-size: 14px
    background: $vert
    color: $white
    &::before
      background: $rouge
.price
  position: absolute
  right: 15px
  border: 2px solid $vert
  background: #F2F2F2
  padding: 0
  z-index: 99
  -moz-transform: translateY(-75px)
  -webkit-transform: translateY(-75px)
  transform: translateY(-75px)
  @media ($md-max)
    -moz-transform: translateY(0)
    -webkit-transform: translateY(0)
    transform: translateY(0)
    margin-top: 20px!important
  .le_prix
    color: $white
    font-family: 'Patua One', cursive
    font-size: 32px
    font-weight: 600
    letter-spacing: 1px
    background: $vert
    width: 100%
    padding: 20px 20px
    position: relative
    display: block
  .price_info
    padding: 20px 20px
    font-weight: 600
    position: relative
    display: block
    i
      font-size: 28px
      margin-right: 30px
      -webkit-transform: translateY(5px)
      -moz-transform: translateY(5px)
      transform: translateY(5px)
    &:first-of-type
      border-bottom: 1px solid #DDD

.interet_nombre
  background: $dark-mauve
  position: absolute
  left: 0
  top: 10px
  text-align: center
  padding: 30px 0 0px 0px
  z-index: 99
  -moz-transform: translateY(-52%)
  -webkit-transform: translateY(-52%)
  transform: translateY(-52%)
  margin: 0 15px
  @media ($md-max)
    transform: translateY(0)
    -moz-transform: translateY(0)
    -webkit-transform: translateY(0)
    position: relative
  .supprimer
    background: $grey
    padding: 10px 0
    text-transform: uppercase
    transition: .3s all
    &:hover
      cursor: pointer
      background: $rouge
      color: #FFF

  p
    color: $white
    font-family: 'Patua One', cursive
    font-size: 18px
    line-height: 140%
  span
    color: $jaune
    font-size: 120px
    font-weight: 600
    margin: 15px 0
    display: inline-block
    position: relative
  .btn
    text-transform: none
    color: $white
    display: inline-block
    font-size: 16px
    position: relative
    margin-top: 30px
    width: 100%
    margin-bottom: -1px
  .btn-status
    margin-top: 0!important

//
// into_taf_showed.php
//


.coordonnees
  margin-top: 40px
  h3
    font-size: 32px
    margin-bottom: 60px
  i
    font-size: 24px
    color: $rouge
    margin-right: 10px

  .score-rate
    font-family: 'Patua One', cursive
    color: $dark-mauve
    font-size: 18px
    padding-bottom: 20px
  .rating
    font-family: serif
    unicode-bidi: bidi-override
    direction: rtl
    display: inline-block
    margin-left: 5px
    margin-top: -3px
    font-size: 24px
  .rating > span
    display: inline-block
    position: relative
    width: 1.1em
    content: "\2605"!important
    &:hover
      color: $asterix
  .rating > span:hover:before,
  .rating > span:hover ~ span:before
    content: "\2605"
    position: absolute
    color: $asterix

  h4
    color: $vert
    font-size: 32px
  h5
    color: $jaune
    font-size: 21px
  .lead
    font-family: 'Patua One', cursive
    color: $dark-mauve
  strong
    font-weight: 600
  a
    color: $dark-mauve
    &:hover
      color: $vert

  .titre_coordonnee
    background: #F2F1F1
    padding: 15px 15px 15px 15px
    margin-top: 2px
    &:hover
      background: #DDD
      cursor: pointer
    &.even
      background: #DDD
    h4
      padding: 0
      margin-top: -5px
      padding-left: 10px
    h5
      margin-top: -10px
      padding-left: 10px
    .lieu
      border-left: 1px solid $dark-mauve
      font-family: 'Patua One', cursive
      color: $dark-mauve
      font-size: 18px
      padding-top: 20px
      padding-bottom: 20px
    .experiences
      border-left: 1px solid $dark-mauve
      font-family: 'Patua One', cursive
      color: $dark-mauve
      font-size: 18px
      padding-top: 13px
      padding-bottom: 20px
      span
        padding: 0px 15px
        color: $jaune
        font-size: 32px
    .inner-score
      border-left: 1px solid $dark-mauve
      font-family: 'Patua One', cursive
      color: $dark-mauve
      font-size: 18px
      padding-top: 23px
      padding-left: 25px
  .ratings
    display: inline-block
    span
      font-size: 26px
  .block_coordonnee
    height: auto
    margin: 2px 0 10px 0
    background: #F2F1F1
    padding: 25px 25px 35px 25px
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    transition: all 0.2s
    .input-like
      background: $white
      padding: 15px 20px 10px 15px
      font-size: 13px
      color: #333!important
      font-family: $open
      margin: 5px 0
    .btn
      background: $jaune
      color: $white
      &::before
        background: $vert
      &:hover
        color: $jaune
    .second-row, .tirth_row, .description
      margin-top: 25px
    .les-metiers
      a
        margin-right: 20px
    p
      line-height: 160%
    .separator
      height: 1px
      background: #CCC
      position: relative
      display: block
      margin: 25px 15px 20px 15px
      width: auto

    .lieu
      margin-top: 15px

    .date-interet
      margin-top: 15px

    .score
      background: #FFF
      padding-top: 20px
      padding-bottom: 20px
      margin-bottom: 15px
      padding-left: 15px
      a
        clear: both
        border-bottom: 1px solid $dark-mauve
        line-height: 180%
        &:hover
          border-bottom: 1px solid $vert
    .experience-block
      background: $soft-mauve
      padding: 15px 0 10px 0
      position: relative
      p
        font-family: 'Patua One', cursive
        font-size: 18px
        color: $white
        text-align: center
      span
        font-size: 42px
        color: $jaune
    input
      width: 100%
      height: auto
      background: #FFF
      border: none
      padding: 15px 20px 10px 15px
      font-size: 13px
      color: #333
      font-family: 'Source Sans Pro', sans-serif
      margin: 5px 0
    textarea
      width: 100%
      height: auto
      background: #FFF
      border: none
      padding: 15px 15px 20px 15px
      font-size: 13px
      margin: 0
      color: #333
      border-radius: 0px !important
      box-shadow: none
  .selected
    background: #F2F2F2
    input, textarea
      background: #FFF



@media only screen and (min-width : 320px) and (max-width : 667px)

  .select_category
    .col-md-2:first-child
      border-bottom: 1px solid #CCC

  .category_filter
    input[type="checkbox"]
      margin: 0px 5px 0px 20px

  .category_tafs
    padding: 60px 20px
    .taf
      width: 100% !important

  .coordonnees .block_coordonnee .les-metiers a
    margin-right: 12px

  .coordonnees
    .text-right
      text-align: center
      margin-top: 15px
    h4
      font-size: 24px
    h5
      font-size: 18px
      padding-bottom: 15px
    .titre_coordonnee
      border: 1px solid #DDD
      margin-bottom: 15px
      h4, h5
        padding-left: 0px
        margin: 0
      .lieu, .experiences, .inner-score
        border: none
        border-top: 1px solid #DDD
        padding-left: 15px
        font-size: 16px
        span
          padding: 0px 5px
          font-size: 32px
      .score-rate
        font-size: 16px
        padding-bottom: 10px

    .panel-coordonnee
      margin-top: -15px

    .block_coordonnee
      background: #EEE

  .inner_taf_info
    .price
      left: 15px
      right: 15px

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)

  .select_category
    .col-md-2:first-child
      border-bottom: 1px solid #CCC

  .category_tafs
    padding: 60px 0px

    .taf
      width: 31% !important

  .coordonnees .block_coordonnee .les-metiers a
    margin-right: 12px

  .coordonnees
    .text-right
      text-align: center
      margin-top: 15px
    h4
      font-size: 24px
    h5
      font-size: 18px
      padding-bottom: 15px
    .titre_coordonnee
      border: 1px solid #DDD
      margin-bottom: 15px
      h4, h5
        padding-left: 0px
        margin: 0
      .lieu, .experiences, .inner-score
        border: none
        border-top: 1px solid #DDD
        padding-left: 15px
        font-size: 16px
        span
          padding: 0px 5px
          font-size: 32px
      .score-rate
        font-size: 16px
        padding-bottom: 10px

    .panel-coordonnee
      margin-top: -15px

    .block_coordonnee
      background: #EEE



//show_taf ------------------------------

.show_taf
  height: 600px!important
  padding-top: 60px!important
  h1
    color: $asterix
    font-size: 70px
    text-align: center
    @media ($sm-max)
      display: block
  .verticalalign
    @media ($sm-max)
      transform: translateY(-50%)
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
.show_taf_container
  .validate
    background: $soft-mauve
    font-size: 24px
  .btn-retour
    position: absolute
    right: 0
  .text-right
    @media ($sm-max)
      text-align: left
  .btn-retour
    position: relative
.show_taf_container
  padding-top: 150px
  .col-sm-6
    //margin-right: 50%
  .top-title
    @media ($sm-max)
      margin-top: 130px
    h2
      color: #808080
      font-size: 44px
      @media ($md-max)
        font-size: 28px
    h3
      color: $yellow
      font-size: 36px
      margin-bottom: 75px
      @media ($md-max)
        font-size: 24px
  .input-cgu
    margin-top: 70px
    span
      margin-right: 10px!important
  .warning_connection
    margin-top: 50px
    padding: 25px
    background: #F7F7F7
    a
      color: $asterix

//show_all_tafs ------------------------
.show_all_tafs
  .hoverit
    h4
      top: 50%
.filters
  label, select
    display: inline-block
  h4
    display: inline-block
.filters_tafs
  height: 100px
  line-height: 100px
  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: none
    border: none
    border-radius: 0
    font-size: 16px
    background: #f2f1f1
    outline: none
    font-weight: 400
    display: inline-block
    width: auto
    height: 30px
    position: relative
    padding: 0 20px
    color: #808080
    line-height: 30px
    margin-left: 20px
    border-radius: 5px
.show_all_tafs_header
  @media (max-width: 1032px)
    .container
      //top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
  @media (max-width: 992px)
    .container
      //top: 75%
      transform: translateY(0)
      -webkit-transform: translateY(0)
      -moz-transform: translateY(0)
  @media ($sm-max)
    height: auto!important
    .container
      transform: translateY(0)
      -webkit-transform: translateY(0)
      -moz-transform: translateY(0)
      top: 0
      .field-group
        top: 0
        margin-top: 0
      .search
        margin-top: 25px
        top: 0
        margin-bottom: 0
      .localisation
        padding-top: 0
        height: 35px
      .col-btn
        margin-bottom: 25px
.mytaf_list_header
  .col-btn
    margin-bottom: 50px

.filters_header
  label
    color: $white
    font-family: $open
  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: none
    border: none
    border-radius: 0
    font-size: 16px
    background: #f2f1f1
    outline: none
    font-weight: 400
    display: inline-block
    height: 50px
    position: relative
    padding: 0 20px
    color: #808080
    width: 100%
    font-family: $open
  .field-group
    top: -60px
    padding: 0 2px
  .input
    top: -10px
  input
    font-family: $open
  .col-btn
    padding-left: 2px
    .btn-yellow
      background: $yellow
      height: 50px
      line-height: 50px
      padding: 0 25px
      margin-top: 10px
  .col-btn
    @media ($sm-max)
      text-align: center
      padding-left: 0
      a
        margin-top: 40px!important
        margin-bottom: 0!important
.filters_tafs
  @media (max-width: 1000px)
    height: auto!important
    line-height: auto!important
    .col-md-4
      margin-left: 0
      text-align: center
.pro_selected
  background: $soft-mauve!important
  .lieu, .experiences, .score-rate
    color: #FFF!important
  .score-rate
    span
      color: #000


// TRI ----------------------

.tri
  background: $soft-mauve
  color: #FFF
  height: 75px
  line-height: 75px
  padding: 0px 50px
  @media ($sm-max)
    height: auto
    line-height: 24px
    padding:  25px
    font-size: 24px
  p
    display: inline-block
    color: #FFF
    @extend h3
    margin-right: 75px
    font-size: 24px
    @media ($sm-max)
      margin-top: 15px
  ul
    display: inline-block
    font-size: 18px
    li:last-child
      &::after
        display: none
    li
      display: inline-block
      color: #FFF
      @media ($sm-max)
        display: block

      &::after
        content: ""
        width: 1px
        height: 30px
        background: #FFF
        display: inline-block
        margin: 0 30px 0
        transform: translateY(10px)
        -webkit-transform: translateY(10px)
        @media ($sm-max)
          display: none
      a
        color: #FFF
        &:hover
          color: $vert
        &.active
          color: $vert
